:root {
    --white: #fff;
    --black: #000;
  
    --primary-1: #c47e35;
    --primary-2: #dca15d;
    --primary-3: #dabb94;
    --primary-4: #f3dabc;
    --primary-5: #faf1e5;
  
    --neutral-1: #2c2c2c;
    --neutral-2: #434343;
    --neutral-3: #94868b;
    --neutral-4: #d9cfd3;
    --neutral-5: #f2ecee;
  
    --accent-1: #458179;
    --accent-2: #4da296;
    --accent-3: #8dd8cf;
    --accent-4: #92cfc7;
    --accent-5: #d7f2ef;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #fcde67;
    overflow: hidden;
  }
  
  h1 {
    margin: 50px 0 30px 0;
    font-weight: 400;
  }
  
  p {
    font-weight: 300;
  }
  
  a {
    color: var(--accent-5);
    text-decoration: underline;
    line-height: 1.4;
    padding: 0.25em;
  }
  
  .btn {
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    padding: 10px 30px;
    text-decoration: none;
    max-width: 120px;
    text-align: center;
    display: inline-block;
    transition: background-color 220ms, transform 220ms;
    border: none;
    font-family: 'Roboto Mono', monospace;
  }
  
  .btn:active {
    transform: translate(0.8px, 0.8px);
  }
  
  button.btn {
    border: 1px solid var(--primary-3);
  }
  
  .btn-default {
    color: var(--accent-5);
    border: 2px solid #fcde67;
    border-radius: 10px;
  }
  
  .btn-outline {
    color: var(--primary-1);
    background-color: var(--primary-4);
    border: var(--primary-1) 2px solid;
    box-shadow: 1px 1px 7px #c4c4c4;
  }
  
  .btn-active {
    color: var(--primary-1);
    background-color: var(--primary-4);
  }
  
  .btn-default:hover:not(:disabled) {
    background-color: #fcde67;
    color: #030e12;
  }
  
  .btn-outline:hover:not(:disabled) {
    background-color: #fcde67;
  }
  
  .btn-default:active {
    color: #030e12;
    background-color: #fcde67;
  }
  
  .btn:disabled {
    cursor: initial;
    opacity: 0.5;
  }
  
  #navbar {
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
      0px -3px 7px 1px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5bccf6;
  }
  
  .nav-brand {
    font-size: 30px;
    text-decoration: none;
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
  }
  
  #navbar ul {
    list-style-type: none;
    overflow: hidden;
    padding-right: 20px;
  }
  
  #navbar li {
    display: inline-block;
  }
  
  .nav-item a {
    text-decoration: none;
    font-weight: bold;
    color: #030e12;
    display: block;
    text-align: center;
    padding: 13px 20px;
  }
  
  .nav-item:hover a {
    text-decoration: none;
    color: var(--primary-2);
  }
  
  .form h2 {
    font-size: 24px;
    font-weight: 400;
  }
  
  .form h3 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
  }
  
  .border-form {
    border-bottom: var(--neutral-4) solid 1px;
    margin-bottom: 20px;
  }
  
  .required {
    color: var(--primary-2);
    text-decoration: none;
    font-weight: bold;
    padding: 0 1px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
  }
  
  input:not(.btn) {
    font-size: 16px;
    background-color: white;
    width: 100%;
    max-width: 220px;
    border: none;
    background: #fcde67;
    border: 1px solid black;
  }
  
  ::placeholder {
    color: var(--neutral-4);
  }
  
  
  button {
    margin-bottom: 1.7em;
    max-width: 250px;
    min-width: 150px;
    height: 40px;
    border: none;
    border-left: 7px solid var(--neutral-4);
  }
  
  .nav-tabs {
    position: relative;
    margin: 0 0 40px 0;
  }
  
  .nav-tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 0;
  }
  
  .nav-tabs li {
    display: inline-block;
  }
  
  .nav-tabs a {
    text-decoration: none;
    color: var(--black);
    margin-right: 20px;
  }
  .nav-tabs a#onlink {
    border-bottom: 7px solid var(--accent-1);
  }
  
  .border-tabs {
    position: absolute;
    z-index: -1;
    bottom: -3px;
    border-bottom: var(--neutral-4) solid 1px;
    min-width: 400px;
  }
  
  .tabs p {
    max-width: 450px;
  }
  
  .container {
    max-width: 850px;
    margin: 10% auto;
    padding: 0 20px;
    font-family: 'Noto Sans Display', sans-serif;
  }
  
  #footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #5bccf6;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  }
  
  #footer-wrapper a {
    text-decoration: none;
    margin: 20px;
  }
  
  select {
    padding: 10px 15px;
    margin-top: 5px;
    border-radius: 8px;
    background: #fcde67;
  }
  
  .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      font-size: 30px;
  }
  
  .result-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      font-size: 30px;
      margin: 5vh auto;
      height: 200px;
  }

  #wrapper {
    display: flex;
    flex-direction: column;
  }

  .warning {
    color: red;
    font-size: 15px;
    max-width: 190px;
  }

  @media screen and (max-width: 660px) {
    #split {
      display: none;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      font-size: 30px;
    }
    #equal {
      display: none;
    }
    .result-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      font-size: 30px;
      margin: 5vh auto;
    }
    select {
      max-width: 200px;
      width: 100%;
    }
    #footer-wrapper {
      display: none;
    }

  }

  @media screen and (max-height: 660px) {
    #footer-wrapper {
      display: none;
    }
    #navbar {
      display: none;
    }
  }

  